button {
    background-color: #ffffff;
    border: 2px solid #02152b;
    border-radius: 30px;
    box-shadow: #494f54 4px 4px 0 0;
    color: #02152b;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
  
  }
  
  body {background-color: #c3ccd8;}
  
  h1 {
      color: #02152b;
      font-family: verdana;
      font-size: 200%;
  }
  p1 {
      color: #494f54;
      font-family: courier;
      font-size: 100%;
  }